In [4]:
import requests
import pymongo
import json
import time

In [5]:
# MongoDB connection string
mongo_uri = "mongodb+srv://chenghaoyu3:pixJds0muZaeKnxZ@cluster0.essi2.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0"

# Establish connection
client = pymongo.MongoClient(mongo_uri)

# Select database and collection
db = client["KC_DB_1"]
collection = db["Final"]

print("Connected to MongoDB successfully!")

Connected to MongoDB successfully!

In [6]:
# API Endpoint
api_url = "https://data.cityofnewyork.us/resource/8wbx-tsch.json"
limit = 1000  # Maximum limit per request
offset = 0  # Starting offset
total_records = 0  # Counter

while True:
    # Construct the API request with limit and offset
    paginated_url = f"{api_url}?$limit={limit}&$offset={offset}"

    # Fetch data from API
    response = requests.get(paginated_url)

    if response.status_code == 200:
        data = response.json()  # Convert response to JSON

        # If no more data, stop
        if not data:
            print("No more data to fetch.")
            break

        # Insert data into MongoDB
        collection.insert_many(data)
        total_records += len(data)

        print(f"Inserted {len(data)} records from offset {offset}. Total: {total_records}")

        # Move to the next batch
        offset += limit

        # Avoid API rate limits
        time.sleep(1)
    else:
        print(f"Error fetching data: {response.status_code}, Response: {response.text}")
        break

print(f"Total records inserted: {total_records}")

Inserted 1000 records from offset 0. Total: 1000
Inserted 1000 records from offset 1000. Total: 2000
Inserted 1000 records from offset 2000. Total: 3000
Inserted 1000 records from offset 3000. Total: 4000
Inserted 1000 records from offset 4000. Total: 5000
Inserted 1000 records from offset 5000. Total: 6000
Inserted 1000 records from offset 6000. Total: 7000
Inserted 1000 records from offset 7000. Total: 8000
Inserted 1000 records from offset 8000. Total: 9000
Inserted 1000 records from offset 9000. Total: 10000
Inserted 1000 records from offset 10000. Total: 11000
Inserted 1000 records from offset 11000. Total: 12000
Inserted 1000 records from offset 12000. Total: 13000
Inserted 1000 records from offset 13000. Total: 14000
Inserted 1000 records from offset 14000. Total: 15000
Inserted 1000 records from offset 15000. Total: 16000
Inserted 1000 records from offset 16000. Total: 17000
Inserted 1000 records from offset 17000. Total: 18000
Inserted 1000 records from offset 18000. Total: 19000
Inserted 1000 records from offset 19000. Total: 20000
Inserted 1000 records from offset 20000. Total: 21000
Inserted 1000 records from offset 21000. Total: 22000
Inserted 1000 records from offset 22000. Total: 23000
Inserted 1000 records from offset 23000. Total: 24000
Inserted 1000 records from offset 24000. Total: 25000
Inserted 1000 records from offset 25000. Total: 26000
Inserted 1000 records from offset 26000. Total: 27000
Inserted 1000 records from offset 27000. Total: 28000
Inserted 1000 records from offset 28000. Total: 29000
Inserted 1000 records from offset 29000. Total: 30000
Inserted 1000 records from offset 30000. Total: 31000
Inserted 1000 records from offset 31000. Total: 32000
Inserted 1000 records from offset 32000. Total: 33000
Inserted 1000 records from offset 33000. Total: 34000
Inserted 1000 records from offset 34000. Total: 35000
Inserted 1000 records from offset 35000. Total: 36000
Inserted 1000 records from offset 36000. Total: 37000
Inserted 1000 records from offset 37000. Total: 38000
Inserted 1000 records from offset 38000. Total: 39000
Inserted 1000 records from offset 39000. Total: 40000
Inserted 1000 records from offset 40000. Total: 41000
Inserted 1000 records from offset 41000. Total: 42000
Inserted 1000 records from offset 42000. Total: 43000
Inserted 1000 records from offset 43000. Total: 44000
Inserted 1000 records from offset 44000. Total: 45000
Inserted 1000 records from offset 45000. Total: 46000
Inserted 1000 records from offset 46000. Total: 47000
Inserted 1000 records from offset 47000. Total: 48000
Inserted 1000 records from offset 48000. Total: 49000
Inserted 1000 records from offset 49000. Total: 50000
Inserted 1000 records from offset 50000. Total: 51000
Inserted 1000 records from offset 51000. Total: 52000
Inserted 1000 records from offset 52000. Total: 53000
Inserted 1000 records from offset 53000. Total: 54000
Inserted 1000 records from offset 54000. Total: 55000
Inserted 1000 records from offset 55000. Total: 56000
Inserted 1000 records from offset 56000. Total: 57000
Inserted 1000 records from offset 57000. Total: 58000
Inserted 1000 records from offset 58000. Total: 59000
Inserted 1000 records from offset 59000. Total: 60000
Inserted 1000 records from offset 60000. Total: 61000
Inserted 1000 records from offset 61000. Total: 62000
Inserted 1000 records from offset 62000. Total: 63000
Inserted 1000 records from offset 63000. Total: 64000
Inserted 1000 records from offset 64000. Total: 65000
Inserted 1000 records from offset 65000. Total: 66000
Inserted 1000 records from offset 66000. Total: 67000
Inserted 1000 records from offset 67000. Total: 68000
Inserted 1000 records from offset 68000. Total: 69000
Inserted 1000 records from offset 69000. Total: 70000
Inserted 1000 records from offset 70000. Total: 71000
Inserted 1000 records from offset 71000. Total: 72000
Inserted 1000 records from offset 72000. Total: 73000
Inserted 1000 records from offset 73000. Total: 74000
Inserted 1000 records from offset 74000. Total: 75000
Inserted 1000 records from offset 75000. Total: 76000
Inserted 1000 records from offset 76000. Total: 77000
Inserted 1000 records from offset 77000. Total: 78000
Inserted 1000 records from offset 78000. Total: 79000
Inserted 1000 records from offset 79000. Total: 80000
Inserted 1000 records from offset 80000. Total: 81000
Inserted 1000 records from offset 81000. Total: 82000
Inserted 1000 records from offset 82000. Total: 83000
Inserted 1000 records from offset 83000. Total: 84000
Inserted 1000 records from offset 84000. Total: 85000
Inserted 1000 records from offset 85000. Total: 86000
Inserted 1000 records from offset 86000. Total: 87000
Inserted 1000 records from offset 87000. Total: 88000
Inserted 1000 records from offset 88000. Total: 89000
Inserted 1000 records from offset 89000. Total: 90000
Inserted 1000 records from offset 90000. Total: 91000
Inserted 1000 records from offset 91000. Total: 92000
Inserted 1000 records from offset 92000. Total: 93000
Inserted 1000 records from offset 93000. Total: 94000
Inserted 1000 records from offset 94000. Total: 95000
Inserted 1000 records from offset 95000. Total: 96000
Inserted 1000 records from offset 96000. Total: 97000
Inserted 1000 records from offset 97000. Total: 98000
Inserted 1000 records from offset 98000. Total: 99000
Inserted 1000 records from offset 99000. Total: 100000
Inserted 1000 records from offset 100000. Total: 101000
Inserted 1000 records from offset 101000. Total: 102000
Inserted 1000 records from offset 102000. Total: 103000
Inserted 1000 records from offset 103000. Total: 104000
Inserted 1000 records from offset 104000. Total: 105000
Inserted 1000 records from offset 105000. Total: 106000
Inserted 1000 records from offset 106000. Total: 107000
Inserted 229 records from offset 107000. Total: 107229
No more data to fetch.
Total records inserted: 107229

In [7]:
for doc in collection.find().limit(5):
    print(json.dumps(doc, indent=4, default=str))

{
    "_id": "679b1ea0e21b00ff67b5c7fa",
    "active": "YES",
    "vehicle_license_number": "6032728",
    "name": "UPPAL, ARSHDEEP",
    "license_type": "FOR HIRE VEHICLE",
    "expiration_date": "2025-06-30T00:00:00.000",
    "permit_license_number": "AA005",
    "dmv_license_plate_number": "T117661C",
    "vehicle_vin_number": "KMHLM4AJ2NU023825",
    "wheelchair_accessible": "PILOT",
    "vehicle_year": "2022",
    "base_number": "B02390",
    "base_name": "TEL AVIV CAR & LIMOUSINE SERVICE INC.",
    "base_type": "LIVERY",
    "veh": "HYB",
    "base_telephone_number": "(800)222-9888",
    "base_address": "43-23   35 STREET LIC NY 11101",
    "reason": "G",
    "last_date_updated": "2025-01-29T00:00:00.000",
    "last_time_updated": "13:25"
}
{
    "_id": "679b1ea0e21b00ff67b5c7fb",
    "active": "YES",
    "vehicle_license_number": "5953896",
    "name": "ELIHORI,ASIM,SALIH",
    "license_type": "FOR HIRE VEHICLE",
    "expiration_date": "2025-11-07T00:00:00.000",
    "permit_license_number": "AA006",
    "dmv_license_plate_number": "T790912C",
    "vehicle_vin_number": "4T4BF1FK4FR457564",
    "certification_date": "2019-11-07T00:00:00.000",
    "hack_up_date": "2019-11-07T00:00:00.000",
    "vehicle_year": "2015",
    "base_number": "B03036",
    "base_name": "ZYNC INC",
    "base_type": "BLACK-CAR",
    "base_telephone_number": "(718)482-1818",
    "base_address": "12-04   44 AVENUE LIC NY 11101",
    "reason": "G",
    "last_date_updated": "2025-01-29T00:00:00.000",
    "last_time_updated": "13:25"
}
{
    "_id": "679b1ea0e21b00ff67b5c7fc",
    "active": "YES",
    "vehicle_license_number": "5729129",
    "name": "LORENZO,MARTIN",
    "license_type": "FOR HIRE VEHICLE",
    "expiration_date": "2026-10-12T00:00:00.000",
    "permit_license_number": "AA010",
    "dmv_license_plate_number": "T708186C",
    "vehicle_vin_number": "4T1K31AK2PU059202",
    "certification_date": "2023-11-17T00:00:00.000",
    "hack_up_date": "2023-11-20T00:00:00.000",
    "vehicle_year": "2023",
    "base_number": "B03407",
    "base_name": "ZOOM TRANSIT INC",
    "base_type": "BLACK-CAR",
    "base_telephone_number": "(718)583-9100",
    "base_address": "2078 CROSS BRONX EXPRESSWAY BRONX NY 10472",
    "reason": "G",
    "last_date_updated": "2025-01-29T00:00:00.000",
    "last_time_updated": "13:25"
}
{
    "_id": "679b1ea0e21b00ff67b5c7fd",
    "active": "YES",
    "vehicle_license_number": "6035913",
    "name": "GULYAMOV,,AMINJON",
    "license_type": "FOR HIRE VEHICLE",
    "expiration_date": "2025-06-30T00:00:00.000",
    "permit_license_number": "AA013",
    "dmv_license_plate_number": "T118710C",
    "vehicle_vin_number": "JTDKN3DU5D0352182",
    "wheelchair_accessible": "PILOT",
    "vehicle_year": "2013",
    "base_number": "B01899",
    "base_name": "ALLSTATE PRIVATE CAR & LIMO,INC",
    "base_type": "BLACK-CAR",
    "veh": "HYB",
    "base_telephone_number": "(212)741-1562",
    "base_address": "241   37 STREET STE#1-4-B443 BROOKLYN NY 11232",
    "reason": "G",
    "last_date_updated": "2025-01-29T00:00:00.000",
    "last_time_updated": "13:25"
}
{
    "_id": "679b1ea0e21b00ff67b5c7fe",
    "active": "YES",
    "vehicle_license_number": "6033635",
    "name": "KHAN,DEWAN,M",
    "license_type": "FOR HIRE VEHICLE",
    "expiration_date": "2025-06-30T00:00:00.000",
    "permit_license_number": "AA017",
    "dmv_license_plate_number": "T137988C",
    "vehicle_vin_number": "JTDZN3EU6GJ049360",
    "wheelchair_accessible": "PILOT",
    "vehicle_year": "2016",
    "base_number": "B03038",
    "base_name": "SOUTH BRONX TRANSPORTATION,INC.",
    "base_type": "BLACK-CAR",
    "veh": "HYB",
    "base_telephone_number": "(347)590-7005",
    "website": "WWW.SOUTHBRONXTRANS.COM",
    "base_address": "250 BROOK AVENUE BRONX NY 10454",
    "reason": "G",
    "last_date_updated": "2025-01-29T00:00:00.000",
    "last_time_updated": "13:25"
}